body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(240,242,244,1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 50px;
    background-color: rgba(254,254,254,1);
    border-bottom: 2px solid rgba(151,160,161,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main {
    margin-top: 50px;
}

.logo {
    font-family: 'La Belle Aurore';
    font-size: 36px;
    font-weight: bolder;
    color: rgba(94,106,107,1);
    margin-left: 20px;
    margin-top: 10px;
}

span {
    color: rgba(200, 20, 43, 0.904);
}

nav {
    font-family: 'Work sans';
    font-size: 14px;
    color: rgba(94,106,107,1);
    margin-left: 50px;
}

nav ul li{
    list-style-type: none;
    display: inline;
    padding-right: 5px;
}

.button {
    box-shadow: inset 0px 0px 1px 1px rgba(200, 20, 43, 0.904);
    padding: 5px 8px;
    border-radius: 10px;
    background-color: rgba(200, 20, 43, 0.904);
    color: rgba(254,254,254,1);
}

.font-primary {
    font-family:'Open Sans';
}

.font-size-medium {
    font-size: small;
}

.font-size-large {
    font-size: medium;
    font-weight: bold;
}

.font-size-small {
    font-size: smaller;
}

.no-items-found {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'Open Sans';
    font-size: large;
    font-weight: bolder;
    color: rgba(200, 20, 43, 0.904);
}

.posts-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.post {
    width: 300px;
    height: 300px;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid rgba(90,90,90,0.3);
    box-shadow: 0.5px 0.5px rgba(90,90,90,0.3);
    background-color: rgba(254,254,254,0.7);
    overflow: hidden;
}

.post-description h2 {
    color: rgba(200, 20, 43, 0.904);
    height: 30px;
    overflow: hidden;
}

.post-category {
    width: 100%;
    height: 27px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 5px;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Work sans';
    color: rgba(94,106,107,1);
}

.post-list-categorys {
    display: inline-block;
}

.post-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.post-photo {
    margin-bottom: 5px;
    width: 100%;
    height: 150px;
}

.post-label-resume {
    height: 50px;
    overflow: hidden;
}

.video-container-list {
    position: relative;
    height: 0;
    margin-bottom: 5px;
    width: 100%;
    height: 150px;
}

.blog-list {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-bottom: 50px;
}


.blog-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog {
	background-color: rgba(254,254,254,1);
	border: 1px solid rgba(94,106,107,0.1);
	border-radius: 5px;
	box-shadow: 0.3px 0.3px rgba(94,106,107,1);
    width: 70%;
	margin-top: 50px;
	padding: 10px 10px;
}

.blog-title {
	font-size: 24px;
	font-weight: bolder;
    font-family: 'open sans';
	color: rgba(200, 20, 43, 0.904);
    background-color: rgba(240,242,244,1);
    border-radius: 2px;
    padding: 5px;
}

.blog-description {
	margin-top: 5px;
	font-size: 18px;
	font-family: 'Sans serif';
	color: rgba(151,160,161,1);
}

.blog-autor {
	margin-top: 5px;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: bolder;
	font-family: 'Sans serif';
	color: rgba(181,180,181,1);
}

.blog-autor-photo {
	border-radius: 50px;
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: rgba(94,106,107,1);
    font-weight: bold;
    font-family: 'Work sans';
    text-transform: uppercase;
}

input {
    margin: 5px 5px 15px 5px;
    display: block;
    border: 0.1px solid rgba(94,106,107,0.3);
    background-color: rgba(254,254,254,1);
    color: rgba(94,106,107,1);
    padding: 5px;
}

textarea {
    margin: 5px 5px 15px 5px;
    display: block;
    border: 0.1px solid rgba(94,106,107,0.3);
    background-color: rgba(254,254,254,1);
    color: rgba(94,106,107,1);
    padding: 5px;
}

input[type="button"]  {
    cursor: pointer;
    color:  rgba(200, 20, 43, 0.904);
    border: 1px solid rgba(254,254,254,0.2);
    border-radius: 10px;
    padding: 4px 4px;
    background-color: rgba(254,254,254,1);
}

.login-wrapper {
    width: 375px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 30px 30px;
    border-radius: 5px;
    box-shadow:0 1px 4px rgba(94,106,107,1);
    background-color: rgba(254,254,254,1);
    text-transform: uppercase;
}

.login-wrapper input, button, form {
    margin: 0 0 5px 0;
    width: 100%;
}

.login-wrapper button {
    text-transform: uppercase;
    padding: 5px 5px;
    color: rgba(254,254,254,1);
    font-weight: bold;
    background-color: rgba(200, 20, 43, 0.904);
}

.login-wrapper p {
    font-weight: bold;
    color: red;
}

.post-new, .user-new, .blog-new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-new h2, .user-new h2, .blog-new h2  {
    font-family: 'Work sans';
    font-size: 20px;
    color: rgba(94,106,107,1);
}

.post-new article, .user-new  article, .blog-new article {
    background-color: rgba(254,254,254,1);
    border: 1px solid rgba(94,106,107,0.1);
    border-radius: 5px;
    box-shadow: 0.3px 0.3px rgba(94,106,107,1);
    width: 70%;
    margin-top: 20px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

.wrapper-post-new-form, .wrapper-user-new-form, .wrapper-blog-new-form {
    width: 60%;
}

.wrapper-post-new-form input, select, textarea, button{
    margin: 0 0 5px 0;
    width: 100%;
}

.wrapper-user-new-form input, select, textarea, button {
    margin: 0 0 5px 0;
    width: 100%;
}

.wrapper-blog-new-form input, select, textarea, button {
    margin: 0 0 5px 0;
    width: 100%;
}

.wrapper-post-new-form button, .wrapper-user-new-form button, .wrapper-blog-new-form button{
    box-shadow: inset 0px 0px 1px 1px rgba(200, 20, 43, 0.904);
    padding: 5px 8px;
    background-color: rgba(200, 20, 43, 0.904);
    color: rgba(254,254,254,1);
    font-weight: bold;
}

.post-detail-photo {
    width: 100%;
}

.wrapper-post-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-post-detail div {
    width: 80%;
    text-align: justify;
}

.wrapper-post-detail div p{
    margin-bottom: 5px;
}

.post-title {
    text-transform: uppercase;
    font-family: 'Work sans';
    color: rgba(200, 20, 43, 0.904);
}

.video-container {
    position: relative;
    height: 0;
    padding-bottom: calc(315/560 * 100%);
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.wrapper_paginator {
    background-color: rgba(200, 20, 43, 0.904);
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    margin: 20px 0 20px 0;
    color: rgba(254,254,254,1);
    padding: 10px 10px;
    border-radius: 50px;
}

.wrapper_paginator li{
    margin: 5px 5px;
}

.wrapper_paginator li.disabled{
    color: rgba(26,29,30,1);
}

footer {
    margin: auto auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(94,106,107,1);
}

.wrapper-filter-category {
    width: 30%;
}

.wrapper-filter-category button {
    box-shadow: inset 0px 0px 1px 1px rgba(200, 20, 43, 0.904);
    padding: 5px 8px;
    background-color: rgba(200, 20, 43, 0.904);
    color: rgba(254,254,254,1);
    font-weight: bold;
    text-transform: uppercase;
}

footer .logo {
    margin-left: 0px;
    font-size: 18px;
}

footer nav {
    margin-left: 0px;
    margin-top: 15px;
}

.errorlist {
    font-family: 'Work sans';
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}

.user-new p, .blog-new p, .post-new p {
    margin-top: 10px;
    font-family: 'Work sans';
    font-weight: bold;
    color: green;
    text-transform: uppercase;
}
