{% extends "base.html" %}

{% block main_body %}
<section class="blog-list">
    {% for blog in list_all_blogs %}
	<article class="blog">
			<a href="/blogs/{{ blog.id }}/">
			<div class="blog-title">
				 {{ blog.title }}
			</div>
			<div class="blog-description">
				 {{ blog.description }}
			</div>
			<div class="blog-autor">
                <img src="https://picsum.photos/200/300" class="blog-autor-photo">
				<label class="font-size-small">{{ blog.user.first_name }} {{ blog.user.first_name }}</label>
			</div>
		</a>
	</article>
    {% endfor %}
</section>
{% endblock %}