{% extends "base.html" %}

{% block main_body %}
<section class="blog-list">
	{% if list_all_blogs  %}
		{% for blog in list_all_blogs %}
		<article class="blog">
			<a href="/blogs/{{ blog.id }}/">
			<div class="blog-title">
				 {{ blog.title }}
			</div>
			<div class="blog-description">
				 {{ blog.description }}
			</div>
			<div class="blog-autor">
				<label class="font-size-small">{{ blog.user.first_name }} {{ blog.user.last_name }}</label>
			</div>
			</a>
		</article>
		{% endfor %}
	{% else %}
      <span class="no-items-found">No hay ningun blog publicado!!</span>
    {% endif %}
</section>
{% endblock %}