{% extends "base.html" %}

{% block main_body %}
<section class="blog-detail">
    <div class="wrapper-filter-category">
        <form method="GET">
           <label>filtrar por categorias</label>
           <select name="filter_category">
               <option selected>Elige una opcion...</option>
               {% for category in categorys %}
                   <option value="{{ category.id }}">{{ category.name }}</option>
               {% endfor %}
           </select>
           <button type="submit">Filtrar</button>
        </form>
    </div>
	<article class="blog">
		<div class="blog-title">
			 {{ blog.title }}
		</div>
		<div class="blog-description">
			 {{ blog.description }}
		</div>
		<div class="blog-autor">
			<label class="font-size-small">{{ blog.user.first_name }} {{ blog.user.last_name }}</label>
		</div>
	</article>
	<div class="posts-list font-primary">
		{% include "list_posts.html" %}
	</div>
	{% include "paginator.html" %}

</section>
{% endblock %}



<form method="GET" action="{% url 'list_posts' username blog_id %}">
   <label>Categories</label>
   <select name="category">
       <option selected>Elige una opcion...</option>
       {% for category in categorys %}
           <option value="{{ category.id }}">{{ category.name }}</option>
       {% endfor %}
   </select>
   <button type="submit">Filtrar</button>
</form>